---
layout: page
title: Expolibre
description: Come organizzare una mostra expolibre
---

<p>
    <a href="https://expolibre.org/it/">Expolibre</a> è una mostra itinerante che presenta il software libero al grande pubblico.
    Un insieme di pannelli illustrano la filosofia del software libero, un movimento che si è sviluppato dai primi anni ‘80. 
    L’obiettivo è quello di aumentare la consapevolezza sulle problematiche sociali legate a questa rivoluzione informatica.
    Nello spirito del software libero, questa mostra è “libera” e ti invitiamo a scaricarla per distribuirla, copiarla, 
    esporla o adattarla. Questa guida serve per aiutarvi a organizzare una mostra con expolibre.
</p>
<hr>
<h1>Guida</h1>

<h2>1) Comprare o noleggiare dei pannelli</h2>
<p>
    Per prima cosa bisogna procurarsi dei pannelli expolibre. Avete due modi di farlo: farveli stampare o noleggiarli.
    <a href="https://expolibre.org/it/noleggia.php">In questa pagina</a> sono presenti delle informazioni per noleggiare 
    uno in italiano, ma se non sono disponibili è necessario provvedere autonomamente.
    Il secondo modo è quello di farveli stampare, e in questo caso vi suggeriamo delle tipografie o servizi online di stampa.
</p>
<h2>2) Decidere dove (e quando) esporlo e attivarsi per le questioni burocratiche</h2>
<p>
    Ci sono due tipologie di posti in cui è possibile esporre: al chiuso o all'aperto. 
    L'esposizione al chiuso ha il vantaggio che si è immuni dagli eventi atmosferici. 
    Inoltre è più probabile che i passanti siano più tranquilli e quindi si fermino a vedere i pannelli.
    Probabilmente la burocrazia in posti al chiuso è più complicata perchè queste mostre non possono essere infinite 
    ma a tempo quindi è da valutare il periodo con più traffico di persone.
    Diversamente esporre all'aperto ha il vantaggio che ci sono potenzialmente più passanti, 
    e forse la burocrazia è più semplice. 
    Lo svantaggio è che ci potrebbe essere più rumore, potrebbe piovere e i passanti sono meno inclini a fermarsi.
    Può essere un idea sfruttare un qualche evento locale come una sagra o una fiera per l'esposizione senza dover richiedere un banchetto e presenziare durante l'evento.
</p>
<h3>2a) Esposizione al chiuso</h3>
<p>
    Alcuni luoghi al chiuso di esempio sono magazzini, ristoranti, bar, biblioteche, sale comunali, oratori, e persino abitazioni chiuse.
    Assicuratevi che il locale scelto sia curato, pulito, illuminato e abbastanza spazioso per ospitare la mostra, 
    oltre che abbastanza frequentato e predisposto per indurre la gente ad osservare i pannelli.
    Per avere i permessi di usare il locale basta chiedere l'autorizzazione al personale stesso del locale.
</p>
<h3>2b) Esposizione all'aperto</h3>
<p>
    Un luogo all'aperto può essere una piazza, una strada o un giardino pubblico. 
    I permessi necessari sono solo quelli di occupazione di suolo (da inviare al comune) 
    ma per questa informazione è meglio informarsi presso il comune in base al luogo.
</p>
<h2>3) Pubblicizzazione e altre note</h2>
<p>
    <ul>
        <li>Scrivere un comunicato stampa sulla mostra e mandatelo ai giornali locali (e al comune).</li>
        <li>Publicizzate l'evento! Fate affiggere dei manifesti in vari luoghi.</li>
        <li>
            Potrebbe essera una buona idea invitare una persona importante del comune 
            come il sindaco o il parroco, magari con una busta di carta contenente un volantino
        </li>
        <li>
            Quando posizionerete i pannelli assicuratevi di metterli nell'ordine corretto, 
            e il primo deve essere quello che verrà visto per primo dai visitatori
        </li>
        <li>
            Accertatevi di appendere i pannelli all'altezza giusta a meno che 
            per la stampa abbiate fatto dei banner o dei totem. 
            Comunemente, un'immagine andrebbe sistemata in modo che il centro sia a un metro e mezzo da terra.
        </li>
        <li>
            I pannelli non sono piccoli, e probabilmente avrete bisogno anche di appenderlì. 
            Ricordatevi che il trasporto di oggetti ingombranti nei mezzi pubblici potrebbe essere 
            un problema quindi meglio organizzarsi autonomamente.
            se fate uso dei mezzi di trasporti pubblici.
        </li>
        <li>Serve una persona disponibile a rispondere alle domande</li>
        <li>In generale i pannelli vanno tenuti d'occhio per evitare problemi e danneggiamenti.</li>
        <li>Stare attenti con i permessi/autorizzazioni.</li>
        <li>
            Potrebbe essere una buona idea lasciare un libro delle firme per dare ai visitatori la possibilità 
            di commentare la mostra.
            Anche un foglio con dei contatti che possono essere lasciati dai visitatori può essere utile. 
            Però cambiate il foglio spesso e scrivete almeno 7/8 contatti falsi per evitare che qualcuno sia 
            il primo a scrivere un contatto.
            I contatti potranno essere usati ad esempio per organizzare qualche altra attività 
            o addirittura per aprire una nuova associazione.
        </li>
        <li>Contate i visitatori.</li>
    </ul>
</p>
