---
layout: page
title: Attività
description: Pronto a partecipare al mondo del software libero?
---

<p>
    Vuoi aiutarci facendo una guida per contribuire a un progetto FOSS o di libertà digitali (non una guida per l'utilizzo di software)?.<br>
    Apri un ticket su <a href="https://gitlab.com/ItalianLinuxSociety/linux.it">GitLab</a>. Non ti preoccupare se non sai usarlo ti aiutiamo noi :-)
</p>

<hr>

<h1>PAGINA IN COSTRUZIONE (<a href="https://gitlab.com/ItalianLinuxSociety/brainstorm/-/issues/11" target="_blank">link</a>)</h1>

<div class="row">
        <div class="col-md-12">
            <ul>
                <li><a href="/todo/attivita/commonvoice">Mozilla Common Voice</a> - Un progetto di raccolta (in licenza di pubblico dominio) di audio+testo per creare un dataset libero per utilizzarlo in soluzioni di machine learning</li>
                <li><a href="/todo/attivita/openstreetmap">OpenStreetMap</a> - Il progetto per creare e distribuire mappe in licenza libera del mondo e anche della tua città</li>
                <li><a href="/todo/attivita/linuxsi">Linux Si</a> - Conosci un attività commerciale che vende computer con Linux o senza sistema operativo?</li>
                <li><a href="/todo/attivita/linuxunopercento">Linux 1%</a> - Se utilizzi software libero sostienilo economicamente donando 1% del tuo fatturato annuale</li>
                <li><a href="/todo/attivita/sistemainoperativo">No al sistema (in)operativo</a> - Hai comprato un computer con Windows preistallato ma non hai intenzione di usarlo?</li>
                <li><a href="/todo/attivita/wikipedia">Wikipedia</a> - Aiuta il sito e l'enciclopedia più famosa al mondo con pochi semplici passaggi</li>
                <li><a href="/todo/attivita/wikicommons">Wikimedia Commons</a> - Distribuisci il tuo materiale fotografico con licenze libera</li>
                <li><a href="/todo/attivita/expolibre">ExpoLibre</a> - Vuoi promuovere il software libero con dei cartelloni?</li>
                <li><a href="/todo/attivita/triage">Scopri il Triage</a> - Fai la revisione di segnalazioni/ticket a progetti come Firefox o LibreOffice</li>
            </ul>
        </div>
</div>
