---
layout: page
title: Linux Si
description: Come aggiungere un negozio con computer Linux
---

<p><strong>LinuxSi</strong> è un elenco quanto più aggiornato e dettagliato possibile sui negozi in cui acquistare nuovi PC con Linux preinstallato o comunque senza sistema operativo (e sul cui prezzo non va dunque a pesare il costo di una nuova licenza), o dove trovare assistenza e supporto per il tuo computer Linux:</p>
<a href="https://linuxsi.com" target="_blank">www.LinuxSi.com</a>

<hr>

<p>Questa attività può essere fatta da soli o in modo organizzato contattando le varie attività sul territorio per chiedergli se vendono computer con Linux o senza sistema operativo. Per aggiungere un negozio sul sito basta mandare un'<a href="mailto:webmaster@linux.it" target="_blank">email</a>, se invece vuoi gli adesivi per la tua attività puoi richiederli con questo <a href="https://www.linux.it/stickers/" target="_blank">modulo</a>.<br>
    Se invece ti senti pronto per fare una pull request su <a href="https://github.com/madbob/LinuxSi/tree/master/db" target="_blank">GitHub al repository</a> devi modificare il file txt della tua regione con le informazioni come le altre attività nello stesso file.</p>
